# Python for AI-ML assignment[test-1]

Data-set description

A Cab booking company wanted to analyze the dataset they have in order to gain more insights. They the number of cabs booked each hour along with some environment features. Here is the following list of data elements present in the data:
.
.
.
.
.
.
.
.
.

Datetime: Date and time
Season: Season value, e.g., summer, winter, etc.
Holiday: Whether it is a holiday or not,
Workingday: Whether it is a working day or not
Weather: What is the weather that day, e.g., Clear, cloudy, rain, etc. 
Temp: What is the temperature value
Atemp: Feel like temperature
Humidity: Humidity value 
Windspeed: wind speed value
Total_booking: Number of cab bookings in that hour

In [ ]:
#   <--------------------QUESTION-1-------------------->

Question 1: [15 Marks]

Feature Engineering: Create following features from the column “Datetime” and append it in the same dataframe

 

1) Hour: Hour in the datetime, e.g., datetime = 5/2/2012 19:00, hour = 19

2) weekday: e.g., datetime = 5/2/2012 19:00, weekday = Wednesday

3) Month: e.g., datetime = 5/2/2012 19:00, Month = May

4) date: e.g., datetime = 5/2/2012 19:00, date = 5/2/2012

Write the output of this question in 'output/output1.csv'

In [ ]:
#-> Importing_google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#   <--------------------solution-1-------------------->

In [ ]:
#-> Importing Libraries
import numpy as np         #-> Mathematical operations  
import pandas as pd        #-> Data manipulation
from matplotlib import pyplot as plt     #-> Visualization
import seaborn as sns                    #-> Visualization
from sklearn.model_selection import train_test_split           # Splitting data into training and testing

In [ ]:
#-> Load data-set
data=pd.read_csv('/content/drive/MyDrive/my kaggle/date-time/train-_10_.csv')

In [ ]:
#-> Display top of data-set
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking
0,5/2/2012 19:00,Summer,0,1,Clear + Few clouds,22.14,25.760,77,16.9979,504
1,9/5/2012 4:00,Fall,0,1,Clear + Few clouds,28.70,33.335,79,19.0012,5
2,1/13/2011 9:00,Spring,0,1,Clear + Few clouds,5.74,6.060,50,22.0028,139
3,11/18/2011 16:00,Winter,0,1,Clear + Few clouds,13.94,16.665,29,8.9981,209
4,9/13/2011 13:00,Fall,0,1,Clear + Few clouds,30.34,33.335,51,19.0012,184

In [ ]:
#-> Display bottom of data-set
data.tail()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking
8703,1/16/2012 6:00,Spring,1,0,Clear + Few clouds,4.10,6.820,54,6.0032,13
8704,11/10/2011 1:00,Winter,0,1,Mist + Cloudy,16.40,20.455,87,0.0000,11
8705,4/12/2011 3:00,Summer,0,1,Mist + Cloudy,23.78,27.275,56,8.9981,1
8706,11/7/2012 1:00,Winter,0,1,Mist + Cloudy,11.48,13.635,61,16.9979,92
8707,1/10/2011 10:00,Spring,0,1,Mist + Cloudy,5.74,6.060,50,19.9995,31

In [ ]:
#-> Display the numbers of rows & columnns in the dataframe
nRow, nCol = data.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 8708 rows and 10 columns

In [ ]:
data['date'] = data.datetime.apply(lambda x : x.split()[0])
data['hour'] = data.datetime.apply(lambda x : x.split()[1].split(":")[0])
data["weekday"] = data.date.apply(lambda dateString : calendar.day_name[datetime.strptime(dateString,"%m/%d/%Y").weekday()])
data["month"] = data.date.apply(lambda dateString : calendar.month_name[datetime.strptime(dateString,"%m/%d/%Y").month])

In [ ]:
print(data.loc[1]['weekday'])
print(data.loc[1]['hour'])
print(data.loc[1]['month'])

Wednesday
4
September

In [ ]:
#   <--------------------QUESTION-2-------------------->

Question 2: [10 Marks]

Find the average number of bookings in each month across years and sort the data in descending order.

Write the output of this question in 'output/output2.csv'

#   <--------------------solution-2-------------------->

In [ ]:
monthAggregated = pd.DataFrame(data.groupby("month")["Total_booking"].mean()).reset_index()
monthSorted = monthAggregated.sort_values(by="Total_booking",ascending=False)

In [ ]:
print(monthSorted.iloc[0]['month'])
print(monthSorted.iloc[-1]['Total_booking'])

June
91.03318903318903

In [ ]:
#   <--------------------QUESTION-3-------------------->

Question 3: [15 Marks]

It has the following three tasks

1) Convert all categorical variables into one-hot encoded features

2) Concat one hot encoded features into original dataframe

3) Remove the original columns from the dataframe.

 Hint: Categorical Variables are = weekday, month, season, weather

Write the output of this question in 'output/output3.csv'

#   <--------------------solution-3-------------------->

In [ ]:
categoryVariableList = ["weekday","month","season","weather"]
#Set all the columns datatype in the above list as categorical
#write your code
for var in categoryVariableList:
    data[var] = data[var].astype('category')
    
season =pd.get_dummies(data['season'])
data=pd.concat([data,season],axis=1)

weather=pd.get_dummies(data['weather'])
data=pd.concat([data,weather],axis=1)

weekday=pd.get_dummies(data['weekday'])
data=pd.concat([data,weekday],axis=1)

month=pd.get_dummies(data['month'])
data=pd.concat([data,month],axis=1)

for var in categoryVariableList:
    data.drop(var, axis =1 , inplace = True)

print(data.shape)

(8708, 37)